<div class="forecast-table">
  <div class="container">
    <div class="forecast-container">
      <div class="today forecast">
        <div class="forecast-header">
          <div class="day" *ngIf="!weatherReport">Loading..</div>
          <div class="date" *ngIf="weatherReport">Report for {{weatherReport.length}} citie(s)</div>
        </div>
        <div class="forecast-content" (click)="getWeatherDetails(report.woeid)" *ngFor="let report of weatherReport">
          <div class="location">{{report.title}}</div>
          <div class="degree">
            <div class="num">
              <p class="smallptext">Temp: {{report.consolidated_weather[0].the_temp | number}}</p>
              <p class="smallptext">Min Temp: {{report.consolidated_weather[0].min_temp | number}}</p>
              <p class="smallptext">Max Temp: {{report.consolidated_weather[0].max_temp | number}}</p>

            </div>
            <div class="forecast-icon">
              <img src="https://www.metaweather.com/static/img/weather/png/64/{{report.consolidated_weather[0].weather_state_abbr}}.png" alt="" width=90>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>