<div class="site-content">
  <div class="site-header">
    <div class="container">
      <a href="index.html" class="branding">
        <img src="assets/images/logo.png" alt="" class="logo">
        <div class="logo-type">
          <h1 class="site-title">Weather App</h1>
          <small class="site-description">tagline goes here</small>
        </div>
      </a>

      <!-- Default snippet for navigation -->
      <div class="main-navigation">
        <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
        <ul class="menu">
          <li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
          <li class="menu-item"><a href="news.html">News</a></li>
          <li class="menu-item"><a href="live-cameras.html">Live cameras</a></li>
          <li class="menu-item"><a href="photos.html">Photos</a></li>
          <li class="menu-item"><a href="contact.html">Contact</a></li>
        </ul> <!-- .menu -->
      </div> <!-- .main-navigation -->

      <div class="mobile-navigation"></div>

    </div>
  </div> <!-- .site-header -->

  <div class="hero" data-bg-image="images/banner.png">
    <div class="container">
      <form action="#" class="find-location">
        <input type="text" placeholder="Find your location...">
        <input type="submit" value="Find">
      </form>

    </div>
  </div>
  <div class="forecast-table">
    <div class="container">
      <div class="forecast-container">
        <div class="today forecast">
          <div class="forecast-header">
            <div class="day">Monday</div>
            <div class="date">6 Oct</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="location">New York</div>
            <div class="degree">
              <div class="num">23<sup>o</sup>C</div>
              <div class="forecast-icon">
                <img src="assets/images/icons/icon-1.svg" alt="" width=90>
              </div>	
            </div>
            <span><img src="assets/images/icon-umberella.png" alt="">20%</span>
            <span><img src="assets/images/icon-wind.png" alt="">18km/h</span>
            <span><img src="assets/images/icon-compass.png" alt="">East</span>
          </div>
        </div>
        <div class="forecast">
          <div class="forecast-header">
            <div class="day">Tuesday</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="assets/images/icons/icon-3.svg" alt="" width=48>
            </div>
            <div class="degree">23<sup>o</sup>C</div>
            <small>18<sup>o</sup></small>
          </div>
        </div>
        <div class="forecast">
          <div class="forecast-header">
            <div class="day">Wednesday</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="assets/images/icons/icon-5.svg" alt="" width=48>
            </div>
            <div class="degree">23<sup>o</sup>C</div>
            <small>18<sup>o</sup></small>
          </div>
        </div>
        <div class="forecast">
          <div class="forecast-header">
            <div class="day">Thursday</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="assets/images/icons/icon-7.svg" alt="" width=48>
            </div>
            <div class="degree">23<sup>o</sup>C</div>
            <small>18<sup>o</sup></small>
          </div>
        </div>
        <div class="forecast">
          <div class="forecast-header">
            <div class="day">Friday</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="assets/images/icons/icon-12.svg" alt="" width=48>
            </div>
            <div class="degree">23<sup>o</sup>C</div>
            <small>18<sup>o</sup></small>
          </div>
        </div>
        <div class="forecast">
          <div class="forecast-header">
            <div class="day">Saturday</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="assets/images/icons/icon-13.svg" alt="" width=48>
            </div>
            <div class="degree">23<sup>o</sup>C</div>
            <small>18<sup>o</sup></small>
          </div>
        </div>
        <div class="forecast">
          <div class="forecast-header">
            <div class="day">Sunday</div>
          </div> <!-- .forecast-header -->
          <div class="forecast-content">
            <div class="forecast-icon">
              <img src="assets/images/icons/icon-14.svg" alt="" width=48>
            </div>
            <div class="degree">23<sup>o</sup>C</div>
            <small>18<sup>o</sup></small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="site-footer">
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-md-offset-1">
          <div class="social-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>

      <p class="colophon">Copyright 2014 Weather App. Designed by Themezy. All rights reserved</p>
    </div>
  </footer> <!-- .site-footer -->
</div>