<div class="site-content">
  <div class="site-header">
    <div class="container">
      <a href="/" class="branding">
        <img src="assets/images/logo.png" alt="" class="logo">
        <div class="logo-type">
          <h1 class="site-title">Weather App</h1>
          <small class="site-description">your accurate guide</small>
        </div>
      </a>

      <!-- Default snippet for navigation -->
      <div class="main-navigation">
        <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
        <ul class="menu">
          <li class="menu-item current-menu-item"><a href="/">Home</a></li>
        </ul> <!-- .menu -->
      </div> <!-- .main-navigation -->

      <div class="mobile-navigation"></div>

    </div>
  </div> <!-- .site-header -->

  <div class="hero" data-bg-image="images/banner.png">
    <div class="container">
      <form action="#" class="find-location">
        <input type="text" placeholder="Find your location...">
        <input type="submit" value="Find">
      </form>
    </div>
  </div>
  
  <router-outlet></router-outlet>

  <footer class="site-footer">
    <div class="container">
      <p class="colophon">Copyright 2019 Weather App. Designed by Themezy. All rights reserved</p>
    </div>
  </footer> <!-- .site-footer -->
</div>